{% extends "vote/base.html" %} {% block title %} IM VALG
2026 / Stem {% endblock %} {% block content%}

<div class="content">
	<h1 class="text-center pt-5">Stem på Kandinater.</h1>

	<div class="container">
		<div class="card">
			<h2>Nils</h2>
			<button
				type="button"
				class="btn bg-danger"
			>
				STEM PÅ NILS
			</button>
		</div>

		<div class="card">
			<h2>Nils</h2>
			<button
				type="button"
				class="btn bg-danger"
			>
				STEM PÅ NILS
			</button>
		</div>

		<div class="card">
			<h2>Nils</h2>
			<button
				type="button"
				class="btn bg-danger"
			>
				STEM PÅ NILS
			</button>
		</div>

		<div class="card">
			<h2>Nils</h2>
			<button
				type="button"
				class="btn bg-danger"
			>
				STEM PÅ NILS
			</button>
		</div>
	</div>
</div>

{% endblock %}
