{% extends "vote/base.html" %} 

{% block title %} / Stem {% endblock %} 

{% block content%}

{% load static %}
<script src="{% static 'vote/main.js' %}" defer></script>

<div class="content">
	<h1 class="text-center pt-5">Stem på Kandinater.</h1>

	<div class="container">
		<form method="POST" action="{% url "vote" %}">
			{% csrf_token %}
			{% for candidate in candidates %}
				<div class="card">
					<h2>{{ candidate.name }}</h2>
					<button
					type="submit"
					class="btn bg-danger"
					name="candidate"
					value="{{candidate.pk}}"
					>Stem på {{ candidate.forename }}</button>
				</div>
			{% endfor %}
		</form>
	</div>
</div>

{% endblock %}
