{% extends 'vote/base.html' %}

{% block title %} Koder {% endblock title %} Koder 


{% block content %}
    <form id="refresh_users" method="POST" action="{% url "vote_users" %}">
        {% csrf_token %}
        <button type="button" name="refresh_users" 
        onclick="if (confirm('Er du sikker på dette?')) document.getElementById('refresh_users').submit();"
        >Refresh all users</button>
    </form>
    <div class="container">
    {% for group in groups %}
    <div>
        <h1>{{ group }}</h1>
        <b>Antall: {{group.users.count}}</b>
        {% for user in group.users.all %}
            <p class="m-0">{{ user.username }}</p>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock content %}