{% extends 'vote/base.html' %}

{% block title %} Koder {% endblock title %} Koder 



{% block content %}

<form id="refresh_users" method="POST" action="{% url "vote_users" %}">
    {% csrf_token %}
    <button type="button" name="refresh_users" 
    onclick="if (confirm('Are you sure you want to delete this item?')) document.getElementById('refresh_users').submit();"
    >Refresh all users</button>
</form>
<div class="content" style="flex-flow: row wrap;">
    <div class="container">
    {% for group in groups %}
    <div>
        <h1>{{ group }}</h1>
        <button type="button" onclick="copy(this,1)">Copy all</button>
        <p>Antall: {{group.users.count}}</p>
        {% for user in group.users.all %}
            <p class="m-0">{{ user.username }}</p>
        {% endfor %}
    </div>
    {% endfor %}
    </div>
</div>
<script>
function copy(btn, all) {
  navigator.clipboard.writeText(all 
    ? [...btn.closest('details').querySelectorAll('code')].map(c => c.textContent).join('\n')
    : btn.previousElementSibling.textContent)
}
</script>
    {% endblock content %}